legend {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  font-size: 35px;
  text-align: center;
  text-shadow: 2px 3px #4f4b4b;
}

fieldset {
  background-color: rgb(213, 231, 238);
}

form {
  padding: 10px;
}